/*
 * 作者：KAKAA | Discord: @rech0_viixi
 * 发布社区：类脑ΟΔΥΣΣΕΙΑ（https://discord.com/channels/1134557553011998840/1340273995018141757）
 * 发布社区：旅程ΟΡΙΖΟΝΤΑΣ（https://discord.com/channels/1291925535324110879/1374963777115656214）
 * 许可协议：CC BY-NC-SA 4.0
 * 二改分享需注明原作者
 * 禁止任何形式的商用及商用目的的引流！
 */

/* ！！！---全局---！！！ */
/* 主题色配置 */
:root {
  --theme-color-1: var(--SmartThemeQuoteColor);
  /* 对应引用文本 */
  --theme-color-2: var(--SmartThemeUnderlineColor);
  /* 对应下划线 */
  --ui-color-main: var(--SmartThemeBlurTintColor);
  /* 对应UI背景 */
  --ui-color-sec: color-mix(
    in srgb,
    var(--ui-color-main) 88%,
    var(--text-color-main)
  );
  /* 自适应UI次级颜色 */
  --top-bar-color: var(--SmartThemeBorderColor);
  /* 顶栏颜色 */
  --top-bar-underline-color: var(--theme-color-1);
  /* 顶栏下边缘颜色 */
  --top-bar-icon-color: var(--text-color-main);
  /* 顶栏图标颜色 */
  --chat-background-color: var(--SmartThemeChatTintColor);
  /* 对应聊天背景 */
  --text-color-main: var(--SmartThemeBodyColor);
  /* 对应主要文本 */
  --text-color-sec: var(--SmartThemeEmColor);
  /* 对应斜体文本 */
  --user-color: var(--SmartThemeUserMesBlurTintColor);
  /* 对应用户消息模糊色调 */
  --char-color: var(--SmartThemeBotMesBlurTintColor);
  /* 对应AI消息模糊色调 */
  --code-color: var(--SmartThemeShadowColor);
  /* 对应阴影颜色 */
  --gradient-main: linear-gradient(
    135deg,
    var(--theme-color-1) 30%,
    color-mix(in srgb, var(--theme-color-1) 50%, var(--theme-color-2) 50%) 50%,
    var(--theme-color-2) 70%
  );
  /* 主题渐变 */
}

:root {
  --mes-width: 100%;
  /* 此百分比调整聊天气泡与整体聊天界面的距离 */
  --mes-block-width: 98%;
  /* 此百分比调整聊天记录文字与气泡左右边框的距离 */
  --box-border-radius: 0px;
  /* 所有盒子的圆角大小 */
  --top-distance: 0px;
  /* 顶栏与上边沿的距离 */
  --bottom-distance: 0px;
  /* 底栏与下边沿的距离 */
  --chat-send-spacing: 0px;
  /* 聊天界面与发送框的距离 */
  --leftRight-chat-spacing: 0px;
  /* 聊天界面与左右边沿的距离，电脑端专供 */
  --scroll-width: 5px;
  /* 滚动条宽度 */
  --icon-size: var(--mainFontSize);
  /* 图标大小 */
  --border-radius-small: 5px;
  --border-radius-medium: 10px;
  --spacing-long: 10px;
  --spacing-short: 5px;
  --topBarIconSize: calc(var(--icon-size) * 2);
}

/* ---标题--- */

/* 标题装饰 */
.standoutHeader strong,
#right-nav-panel h2,
.drawer-content h3.margin0,
.popup h3:not(dialog *) {
  font-size: calc(var(--mainFontSize) * 1.2);
  font-weight: 600;
  color: var(--text-color-main);
  letter-spacing: 0.1em;
  white-space: nowrap;
  line-height: 2;
}

.standoutHeader strong::before,
#right-nav-panel h2::before,
.drawer-content h3.margin0::before,
.popup h3:not(dialog *)::before {
  content: "✦";
  position: relative;
  background: var(--gradient-main);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: calc(var(--mainFontSize) * 1.3);
  text-shadow: none;
  padding-bottom: 0.5px;
}

@supports (-webkit-touch-callout: none) {
  .standoutHeader strong::before,
  #right-nav-panel h2::before,
  .drawer-content h3.margin0::before,
  .popup h3:not(dialog *)::before {
    font-size: calc(var(--mainFontSize) * 1.7);
  }
}

/* 增加标题下横线 */
.standoutHeader:not(h4),
#rm_PinAndTabs,
#top-settings-holder
  .drawer:not(:first-child):not(:last-child)
  .drawer-content
  .alignItemsBaseline.wide100p,
#rm_api_block .flex-container.alignItemsBaseline,
#title_api,
#AdvancedFormatting .flex-container.alignItemsBaseline:not(h3),
#WorldInfo .alignitemscenter:not(#world_popup *),
#Backgrounds .bg-header-row-1,
#user-settings-block div[name="userSettingsRowOne"],
#rm_extensions_block
  .alignitemscenter.flex-container.wide100p:not(.justifyCenter) {
  background-image: none;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid var(--ui-color-sec);
  margin-bottom: calc(var(--mainFontSize) * 0.4);
  padding-bottom: calc(var(--mainFontSize) * 0.2);
}

/* 修正标题没对齐的问题 */
.drawer-content .alignItemsBaseline {
  align-items: center !important;
}

#title_api {
  padding-bottom: 0;
}

#title_api::before,
#Backgrounds h3.margin0.flex2::before,
#rm_extensions_block .margin0.flex1::before,
#rm_button_selected_ch h2::before {
  margin-right: calc(var(--mainFontSize) * 0.4);
}

/* ---抽屉--- */
/* 覆盖样式 */
.inline-drawer-header,
#extensions_settings .inline-drawer-toggle.inline-drawer-header,
#extensions_settings2 .inline-drawer-toggle.inline-drawer-header,
#top-settings-holder h4:not(#ai-config-button *):not(#rightNavHolder *) {
  border-width: 0 0 0 3px !important;
  border-color: transparent !important;
  border-style: solid;
  border-radius: 0;
  background-image: none !important;
  padding-left: 7px;
  border-image: linear-gradient(
      to bottom,
      transparent 25%,
      var(--theme-color-1) 25%,
      var(--theme-color-1) 75%,
      transparent 75%
    )
    1 100%;
}

/* 缩小箭头图标 */
.inline-drawer-icon {
  font-size: var(--icon-size);
}

/* ---滚动条--- */
::-webkit-scrollbar {
  width: var(--scroll-width);
}

::-webkit-scrollbar:horizontal {
  height: var(--scroll-width);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  background-color: color-mix(in srgb, var(--theme-color-1) 70%, transparent);
  box-shadow: none;
  border: 0;
}

/* ---输入框--- */
input[type="text"],
input[type="number"],
input[type="switch"],
input:not([type]),
textarea:not([type="search"]) {
  background-color: var(--ui-color-sec) !important;
  border: 1px solid var(--ui-color-sec) !important;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="switch"]:focus,
input:not([type]):focus,
textarea:not([type="search"]):focus {
  border: 1px solid var(--theme-color-1) !important;
}

textarea[type="search"] {
  background-color: transparent !important;
  border: none !important;
}

.range-block {
  margin: calc(var(--mainFontSize) * 0.6) 0;
}

.range-block-counter {
  margin-left: 20px;
}

.text_pole:not(.objective-task) {
  background-color: var(--ui-color-sec);
  border: none;
}

/* ---按键--- */
.menu_button:not(.mes_edit_buttons *) {
  background-color: var(--ui-color-sec);
  border-color: var(--ui-color-sec);
  color: var(--text-color-main);
}

.menu_button_icon i {
  font-size: calc(var(--icon-size) * 0.8);
}

#delete_button,
#dialogue_del_mes_ok,
#dialogue_popup_ok,
#bulk_tag_popup_reset,
#bulk_tag_popup_remove_mutual,
.mes_edit_cancel.menu_button,
.menu_button.popup-button-ok,
.redWarningBG,
.red_button {
  background-color: var(--crimson70a) !important;
  color: var(--white100) !important;
}

#openai_api-presets .title_restorable.standoutHeader .flex-container.gap3px {
  align-items: center;
}

#openai_api-presets
  .title_restorable.standoutHeader
  .flex-container.gap3px
  div:not(label) {
  margin: 5px 0;
}

/* 去除阴影 */
.mes_button,
.mes_edit_buttons,
#completion_prompt_manager
  #completion_prompt_manager_list
  li.completion_prompt_manager_prompt
  span
  span
  span {
  filter: none !important;
}

.fa-solid:not(#load-spinner) {
  font-size: var(--icon-size);
  text-shadow: none !important;
}

/* ---下拉框--- */
select {
  background-color: var(--ui-color-sec) !important;
  color: var(--text-color-main);
  border: none !important;
  margin: calc(var(--mainFontSize) * 0.3) 0 !important;
}

select option:not(:checked) {
  color: var(--text-color-sec);
}

select option:checked {
  color: var(--ui-color-sec);
  background-color: var(--text-color-main) !important;
}

select option {
  background-color: var(--ui-color-sec) !important;
}

.ui-widget-content .ui-state-active {
  color: var(--theme-color-1) !important;
}

/* ---勾选框--- */
input[type="checkbox"] {
  width: calc(var(--mainFontSize) * 0.9);
  height: calc(var(--mainFontSize) * 0.9);
  border: none;
  outline: none;
  background-color: var(--ui-color-main);
  filter: none;
  box-shadow: 0 0 0 1px var(--text-color-sec);
  transform: translateY(0);
  margin-left: 1px;
}

input[type="checkbox"]::before {
  box-shadow: inset 1em 1em var(--theme-color-1);
}

input[type="checkbox"].del_checkbox {
  margin-right: 0;
}

/* ---滑动条--- */
input[type="range"] {
  box-shadow: none;
  background-color: var(--ui-color-sec) !important;
}

input[type="range"]:hover {
  background-color: color-mix(
    in srgb,
    var(--ui-color-sec) 70%,
    black 30%
  ) !important;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px
    color-mix(in srgb, var(--theme-color-1) 50%, transparent);
  background-color: var(--theme-color-1);
  width: 10px;
  height: 10px;
}

.neo-range-slider {
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.2) !important;
}

/* ---盒子--- */
/* 统一样式 */
#left-nav-panel,
#right-nav-panel,
#character_popup,
#dialogue_popup,
#chat,
.draggable,
#select_chat_popup,
.popup:not(.transparent_dialogue_popup),
.drawer-content {
  padding: var(--spacing-long);
  background-color: var(--ui-color-main);
  border-radius: var(--box-border-radius);
  border: none;
}

#dialogue_popup_text {
  padding: 0 var(--spacing-long) 0 0;
}

#left-nav-panel,
#right-nav-panel {
  top: var(--top-distance);
  height: 100dvh !important;
  max-height: calc(100dvh - var(--top-distance) - var(--bottom-distance) - 1px);
}

@media screen and (max-width: 1000px) {
  #left-nav-panel,
  #right-nav-panel,
  .drawer-content {
    margin-top: var(--top-distance);
  }

  #left-nav-panel,
  #right-nav-panel {
    height: calc(100dvh - 45px) !important;
    max-height: calc(100dvh - var(--topBarBlockSize)) !important;
    border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
  }
}

/* ---列表--- */
.list-group,
.options-content {
  border: none;
  border-radius: var(--border-radius-small);
  background-color: var(--ui-color-sec) !important;
}

#options {
  background-color: transparent !important;
  padding: 0;
}

/* ---图标--- */
.fa-fw:not(#qr--modal-icon):not(#extensionsMenu *):not(#options *) {
  width: auto;
}

/* 缩小锁定图标 */
#rm_button_characters,
#rm_button_panel_pin_div,
#lm_button_panel_pin_div,
#WI_button_panel_pin_div {
  font-size: var(--icon-size);
}

/* ---头像--- */
.avatar img,
body.big-avatars .avatar img {
  box-shadow: none;
  border: none;
}

/* ---代码块--- */
code {
  margin: 0;
  border: none;
  background-color: var(--code-color);
}

body[data-stscript-style] .hljs.language-stscript,
.hljs {
  background: var(--code-color);
}

.custom-mermaid {
  background-color: var(--code-color);
}

/* 折叠框标题 */
.standoutHeader.inline-drawer-header {
  padding: 5px 0;
}
/*
 * 作者：KAKAA | Discord: @rech0_viixi
 * 发布社区：类脑ΟΔΥΣΣΕΙΑ（https://discord.com/channels/1134557553011998840/1340273995018141757）
 * 发布社区：旅程ΟΡΙΖΟΝΤΑΣ（https://discord.com/channels/1291925535324110879/1374963777115656214）
 * 许可协议：CC BY-NC-SA 4.0
 * 二改分享需注明原作者
 * 禁止任何形式的商用及商用目的的引流！
 */

/* ！！！---局部---！！！ */

/* ---顶栏与通用扩展界面--- */
body.no-blur #top-bar,
#top-bar {
  border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
  box-shadow: none;
  background-color: transparent !important;
}

body.waifuMode #top-bar {
  border: none;
}

#top-settings-holder {
  top: var(--top-distance);
  box-shadow: 0 2px 0 0 var(--top-bar-underline-color);
}

#top-settings-holder > :first-child {
  border-radius: var(--box-border-radius) 0 0 0;
}

#top-settings-holder > :last-child {
  border-radius: 0 var(--box-border-radius) 0 0;
}

.drawer {
  color: var(--top-bar-icon-color);
  background-color: var(--top-bar-color);
}

.drawer:has(.openDrawer) {
  background-color: var(--ui-color-main);
}

.drawer-content:not(#left-nav-panel):not(#right-nav-panel) {
  border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
}

/* IOS 适配 */
@supports (-webkit-touch-callout: none) {
  .drawer-content:not(#left-nav-panel):not(#right-nav-panel) {
    max-width: 100dvw;
    top: var(--topBarBlockSize);
  }
}
/* IPAD 适配 */
@supports (-webkit-touch-callout: none) {
  @media screen and (min-width: 1000px) {
    #character_popup,
    #world_popup,
    .drawer-content {
      margin-top: 0px;
    }
    #top-settings-holder .drawer .drawer-content {
      right: 0;
      left: 0;
      width: var(--sheldWidth);
    }
    #left-nav-panel,
    #right-nav-panel {
      margin: 0 auto;
      top: calc(var(--topBarBlockSize) + var(--top-distance));
      max-height: calc(
        100dvh - var(--topBarBlockSize) - var(--bottomFormBlockSize)
      );
      border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
      border-bottom: 1px solid var(--top-bar-underline-color);
    }
  }
}

.drawer-icon {
  opacity: 0.3;
  font-size: calc(var(--icon-size) * 1.1);
  text-shadow: none !important;
}

.drawer-icon:hover,
.drawer-icon.openIcon {
  opacity: 1;
  background: var(--gradient-main);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* border-bottom在背景图库会有样式问题 */
.drawer-content {
  box-shadow: 0 2px 0 var(--top-bar-underline-color);
  border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
}

/* 抽屉小标题 */
.drawer-content h4 {
  font-weight: 600;
}

#AdvancedFormatting h3.flex-container {
  flex-wrap: nowrap;
}

/* 调整竖排间距 */
#user-settings-block-content,
#AdvancedFormatting .flex-container.spaceEvenly {
  gap: 10px;
}

/* 反代警告 */
.reverse_proxy_warning {
  border: 1px solid var(--ui-color-sec) !important;
  background-color: transparent !important;
}

/* ---聊天界面--- */
#sheld {
  top: calc(var(--topBarBlockSize) + var(--top-distance));
  height: calc(100dvh - var(--topBarBlockSize) - var(--top-distance) - 1px);
}

#chat {
  overflow-y: scroll;
  align-items: center;
  max-height: calc(100dvh - var(--topBarBlockSize) - 20px) !important;
  padding: calc(var(--scroll-width) + 4px) 0 var(--scroll-width)
    var(--scroll-width);
  border-radius: 0 0 var(--box-border-radius) var(--box-border-radius);
  background-color: var(--chat-background-color);
}

@supports (-webkit-touch-callout: none) {
  #chat {
    padding-right: var(--scroll-width);
  }
}

.mesAvatarWrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mesAvatarWrapper .avatar {
  margin: calc(var(--mainFontSize)) 0 calc(var(--mainFontSize) * 0.4) 0;
}

.mesIDDisplay,
.mes_timer,
.tokenCounterDisplay {
  display: contents;
  color: var(--text-color-sec);
}

#chat .ch_name {
  position: relative;
  align-items: flex-end;
  padding: calc(var(--mainFontSize) * 0.8) 0;
}

#chat .ch_name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--text-color-sec);
}

.mes {
  width: var(--mes-width);
  flex-direction: column;
  align-items: center;
  border: none !important;
  background-color: var(--ui-color-main) !important;
  margin: 0;
}

.mes_text {
  padding: calc(var(--mainFontSize) * 0.8) 0 0 0;
}

.mes_block {
  width: var(--mes-block-width);
  padding-left: 0;
}

.last_mes .mes_text {
  padding-right: 0;
}

.last_mes .mesAvatarWrapper {
  padding-bottom: 0;
}

/* 只对AI消息生效，因为用户消息不需要滑动箭头 */
div[is_user="false"].last_mes .mes_block {
  padding-bottom: 50px;
}

.last_mes .swipeRightBlock {
  margin: 0 var(--spacing-long) 0 0;
}

div[is_user="true"] {
  background-color: var(--user-color) !important;
}

div[is_user="true"] .avatar img {
  box-shadow: 0 0 0 2px
      color-mix(in srgb, var(--theme-color-2) 60%, transparent),
    0 0 10px 2px color-mix(in srgb, var(--theme-color-1) 60%, transparent);
}

div[is_user="false"] {
  background-color: var(--char-color) !important;
}

div[is_user="false"] .avatar img {
  box-shadow: 0 0 0 2px
      color-mix(in srgb, var(--theme-color-1) 60%, transparent),
    0 0 10px 2px color-mix(in srgb, var(--theme-color-2) 60%, transparent);
}

.swipe_left {
  left: calc(var(--scroll-width) + var(--spacing-short));
}

.swipeRightBlock {
  flex-direction: row-reverse;
  bottom: calc(var(--swipeCounterHeight) + var(--swipeCounterMargin));
}

.swipes-counter {
  margin-bottom: 4px;
}

#chat .mes.selected {
  background-color: var(--crimson70a) !important;
}

/* 文档模式 */

body.documentstyle #chat .ch_name::after {
  width: 0;
}

body.documentstyle #chat .mes .mes_block {
  margin-right: 0;
  padding-bottom: 15px;
}

body.documentstyle #chat .last_mes .mes_block {
  padding-bottom: 50px;
}

body.documentstyle #chat .last_mes {
  padding-top: var(--border-radius-medium);
}

body.documentstyle #chat .mes_text {
  margin-left: 0 !important;
}

body.documentstyle #chat .last_mes .swipe_left {
  left: var(--scroll-width);
}

/* 视觉小说模式 */
body.waifuMode #chat {
  border: none;
  box-shadow: none;
  border-radius: var(--border-radius-small);
}

body.waifuMode .zoomed_avatar {
  top: 70px;
}

/* 推理块 */
.mes_reasoning_header {
  margin: 1em 0;
  padding: 7px calc(var(--mainFontSize) + 14px) 7px
    calc(var(--mainFontSize) * 0.8);
  background: color-mix(in srgb, var(--theme-color-1) 30%, transparent);
  border: 1px solid var(--theme-color-1);
  color: var(--text-color-main);
}

.mes_reasoning_header span::before {
  content: "✦";
  position: relative;
  text-shadow: none;
  font-size: var(--mainFontSize);
  line-height: 1;
  margin-right: 3px;
}
.mes_reasoning_details .mes_reasoning_arrow {
  right: 10px;
  font-size: calc(var(--mainFontSize) * 0.7) !important;
}

.mes_reasoning {
  border-left: 2px solid var(--theme-color-1);
}

/* ---提示词管理器--- */
#left-nav-panel {
  width: calc((100vw - var(--sheldWidth)) / 2 - var(--leftRight-chat-spacing));
  padding-right: 0;
}

@supports (-webkit-touch-callout: none) {
  @media screen and (min-width: 1000px) {
    #left-nav-panel {
      padding-right: var(--spacing-long);
    }
    .fillLeft .scrollableInner {
      padding-right: 0.5em;
    }
  }
}

#range_block_openai > .range-block .toggle-description {
  margin-right: 0;
}

.range-block-title {
  text-align: left;
}

label[for="openai_image_inlining"] + div,
#openai_settings .inline-drawer-header .flex-container {
  gap: 0;
  text-align: left;
}

#openai_settings .inline-drawer-header .flex-container b {
  margin-right: 5px;
}

#completion_prompt_manager {
  width: 100%;
}

#completion_prompt_manager_list .completion_prompt_manager_list_separator {
  display: none !important;
}

#completion_prompt_manager .completion_prompt_manager_header {
  color: var(--text-color-main);
  padding: 0;
}

.completion_prompt_manager_footer {
  padding: 0 !important;
}

#completion_prompt_manager .completion_prompt_manager_header_advanced span {
  margin-left: 0;
}

#completion_prompt_manager
  #completion_prompt_manager_list
  li.completion_prompt_manager_prompt {
  border-radius: var(--border-radius-medium);
  border-color: var(--white20a);
  background-color: var(--ui-color-main);
}

#completion_prompt_manager
  #completion_prompt_manager_list
  li.completion_prompt_manager_prompt:hover,
#completion_prompt_manager
  #completion_prompt_manager_list
  li.completion_prompt_manager_prompt:focus {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-color: var(--theme-color-1);
  background-color: color-mix(in srgb, var(--theme-color-1) 15%, transparent);
  outline: none;
}

#completion_prompt_manager
  #completion_prompt_manager_list
  .completion_prompt_manager_prompt:not(
    .completion_prompt_manager_prompt_disabled
  )
  .prompt-manager-toggle-action {
  color: var(--theme-color-1);
}

#completion_prompt_manager
  #completion_prompt_manager_list
  .completion_prompt_manager_prompt_disabled
  .completion_prompt_manager_prompt_name
  .prompt-manager-inspect-action,
#completion_prompt_manager
  #completion_prompt_manager_list
  .completion_prompt_manager_prompt
  .completion_prompt_manager_prompt_name
  .fa-solid {
  color: color-mix(in srgb, var(--text-color-main) 30%, transparent);
}

#completion_prompt_manager > .range-block > .text_pole {
  padding: 0 15px 10px 15px;
}

#completion_prompt_manager .completion_prompt_manager_header_advanced span {
  filter: none;
}

/* ---世界书--- */
#WorldInfo {
  margin-top: var(--top-distance);
}

@supports (-webkit-touch-callout: none) {
  #world_popup {
    margin-top: 0;
    width: 100%;
  }
}

#WorldInfo .select2 {
  margin-top: 5px;
}

.world_entry {
  margin-top: var(--spacing-short);
}

.wi-card-entry {
  border: none;
}

.world_entry_form_control {
  margin: 0;
}

.select2-container .select2-selection--multiple {
  background-color: var(--ui-color-sec);
  border: none;
}

.select2-container .select2-selection--multiple .select2-selection__choice,
.select2-container .select2-selection--single .select2-selection__choice {
  background-color: color-mix(in srgb, var(--theme-color-2) 30%, transparent);
}

span.select2.select2-container .select2-selection__choice__remove,
.select2_choice_clickable_buttonstyle
  + span.select2-container
  .select2-selection__choice__display {
  color: var(--text-color-main);
  line-height: 1.5;
  background-color: transparent;
  margin: 0px;
}

.select2-container
  .select2-selection--multiple
  .select2-selection__choice__remove {
  padding: 0 5px;
}

@media screen and (max-width: 1000px) {
  .world_entry_form .inline-drawer-header {
    border-width: 0 0 0 3px !important;
    border-color: var(--theme-color-1) !important;
    border-style: solid;
    border-image: none;
  }
}

/* ---用户管理器--- */
.avatar-container.selected {
  border-color: var(--theme-color-2);
}

/* ---图库--- */
#bg-header-fixed {
  padding: 0;
}

#bg-header-fixed .flex-container.alignItemsBaseline.wide100p {
  margin-bottom: 0 !important;
}

#bg-header-title::before {
  margin-right: var(--spacing-short);
}

#Backgrounds.drawer-content.openDrawer.bg-drawer-layout {
  padding: var(--spacing-long);
}

.bg_example {
  box-shadow: none;
  border-color: var(--ui-color-sec);
}

.bg_example.selected {
  border-color: var(--theme-color-2);
}

.bg_button {
  color: var(--theme-color-1);
  filter: drop-shadow(0px 0px 2px white);
}

.bg_button:hover {
  background-color: var(--crimson70a);
}

.BGSampleTitle {
  color: #eeeeee !important;
}

/* ---用户设置--- */
#movingUIPresets {
  margin-bottom: 0 !important;
}

/* ---角色管理器--- */
#right-nav-panel {
  width: calc((100vw - var(--sheldWidth)) / 2 - var(--leftRight-chat-spacing));
}

#right-nav-panel hr:first-of-type {
  display: none;
}

#CharListButtonAndHotSwaps {
  margin-bottom: calc(var(--mainFontSize) * 0.8);
}

label[for="char-management-dropdown"] {
  width: 100%;
}

#avatar_div {
  flex-direction: column;
}

#avatar_controls {
  align-items: center;
}

.character_select,
.bogus_folder_select {
  margin-top: calc(var(--mainFontSize) * 0.8);
}

.character_select.is_fav .avatar {
  outline: 2px solid var(--theme-color-1);
}

.character_select.is_fav .ch_name {
  color: var(--theme-color-1);
}

.tag.excluded::after {
  font-size: calc(var(--icon-size) * 2);
}

.tag.actionable {
  font-size: calc(var(--icon-size) * 1);
  min-height: calc(var(--icon-size) * 2);
  min-width: calc(var(--icon-size) * 2);
}

/* 收藏区左右拖动 */
#HotSwapWrapper {
  overflow: hidden;
}

#HotSwapWrapper > div {
  overflow: auto hidden;
  flex-wrap: nowrap;
  height: calc(var(--avatar-base-height) + var(--scroll-width) + 10px);
  max-height: calc(var(--avatar-base-height) * 2);
}
body.big-avatars #HotSwapWrapper > div {
  height: calc(
    var(--avatar-base-height) * var(--big-avatar-height-factor) +
      var(--scroll-width) + 10px
  );
  max-height: calc(
    var(--avatar-base-height) * var(--big-avatar-height-factor) * 2
  );
}

#HotSwapWrapper > div::-webkit-scrollbar-thumb {
  background-color: var(--ui-color-sec);
}

/* ---底栏--- */
#form_sheld {
  margin: var(--chat-send-spacing) auto var(--bottom-distance) auto;
}

body.no-blur #send_form,
#send_form {
  background-color: color-mix(
    in srgb,
    var(--theme-color-1) 20%,
    var(--ui-color-main) 60%
  ) !important;
  border: none;
  border-radius: var(--box-border-radius);
  backdrop-filter: none;
  padding: 0 5px;
}

#send_form textarea {
  background-color: transparent !important;
  border: none !important;
}

#send_form textarea::placeholder {
  color: color(var(--text-color-sec)) !important;
}

#send_form .fa-solid {
  font-size: calc(var(--icon-size) * 1.2);
}

#leftSendForm > div:nth-child(2) {
  width: auto;
}

/* QR */
#qr--bar > .qr--buttons .qr--button,
#qr--popout > .qr--body > .qr--buttons .qr--button {
  background-color: color-mix(in srgb, var(--theme-color-1) 30%, transparent);
  border-color: var(--theme-color-1) !important;
  border-radius: var(--border-radius-small) !important;
  border-width: 0 0 0px 0 !important;
  font-size: calc(var(--mainFontSize) * 0.9);
}

#qr--bar > .qr--buttons .qr--button:hover,
#qr--popout > .qr--body > .qr--buttons .qr--button:hover {
  background-color: color-mix(
    in srgb,
    var(--theme-color-1) 50%,
    transparent
  ) !important;
}

#qr--popoutTrigger {
  background-color: transparent;
  border: none;
}

/* ---QR编辑器--- */
.popup:has(#qr--modalEditor)
  .popup-content
  > #qr--modalEditor
  > #qr--main
  > .qr--modal-messageContainer
  > #qr--modal-messageHolder
  > #qr--modal-message {
  color: var(--text-color-main) !important;
}

.popup:has(#qr--modalEditor) .popup-content #qr--modal-message::selection {
  color: var(--text-color-main) !important;
}

@supports (color: rgb(from white r g b / 0.25)) {
  .popup:has(#qr--modalEditor) .popup-content #qr--modal-message::selection {
    background-color: rgb(from var(--theme-color-1) r g b / 0.25) !important;
  }
}

/*
 * 作者：KAKAA | Discord: @rech0_viixi
 * 发布社区：类脑ΟΔΥΣΣΕΙΑ（https://discord.com/channels/1134557553011998840/1340273995018141757）
 * 发布社区：旅程ΟΡΙΖΟΝΤΑΣ（https://discord.com/channels/1291925535324110879/1374963777115656214）
 * 许可协议：CC BY-NC-SA 4.0
 * 二改分享需注明原作者
 * 禁止任何形式的商用及商用目的的引流！
 */
